body {
	background-color:#f6f6f6;
	font-family: 'Roboto', sans-serif; 
	font-size: 19px;
	line-height: 27px;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Roboto', sans-serif; 
}

h1 {
  font-size: 80px;
  line-height: 81px;
}

h2 {
  font-size: 50px;
  line-height: 54px;
}

h3 {
  font-size: 31px;
  line-height: 54px;
}

h4 {
  font-size: 2em;
  line-height: 54px;
}

hr {
	margin:15px 0px 15px;
}

.row {
  max-width: 72.5rem;
  margin-top: 25px;
}

.image {
	/*margin-top:10px;*/
	/*margin-bottom:10px;*/
	text-align: center;
}

.credit {
	font-size: .6em;
	font-style: italic;
	text-align: left;
	/*padding-left:32px;*/
}

.profile {
	width: 100%;
	/*border-radius: 100px;*/
	/*-webkit-border-radius: 100px;*/
	/*-moz-border-radius: 75px;*/
	/*border: solid white 2px;*/
	box-shadow: 0 0 1px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
	/*margin-top: 25px;*/
}

.cards {
  border-radius:3px;
  border: solid 1px;
  border-color: #e1e1e1;
  background-color: #fff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  padding:10px;
   /*min-height:415px;*/
  /*margin:0px -20px 15px 20px;*/
}

.pad {
	padding:10px;
}

.content {
	/*padding:10px;*/
	text-align: center;
	/*margin: 10 auto;*/
}

.bcontent {
	padding:10px;
}

.bcontent p {
	margin-bottom:1rem;
}

/* flipper */
/* simple */

		.flip-container {
			-webkit-perspective: 1000;
			-moz-perspective: 1000;
			-ms-perspective: 1000;
			perspective: 1000;

			-ms-transform: perspective(1000px);
			-moz-transform: perspective(1000px);
    			-moz-transform-style: preserve-3d; 
    			-ms-transform-style: preserve-3d; 

		}

			/*
			.flip-container:hover .flipper, .flip-container.hover .flipper, #flip-toggle.flip .flipper {
				-webkit-transform: rotateY(180deg);
				-moz-transform: rotateY(180deg);
				-ms-transform: rotateY(180deg);
				transform: rotateY(180deg);
				filter: FlipH;
    			-ms-filter: "FlipH";
			}
			*/


			/* START: Accommodating for IE */
			.flip-container:hover .back, .flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
		
		/* END: Accommodating for IE */

		.flipper {
			-webkit-transition: 0.6s;
			-webkit-transform-style: preserve-3d;
			-ms-transition: 0.6s;

			-moz-transition: 0.6s;
			-moz-transform: perspective(1000px);
			-moz-transform-style: preserve-3d;
			-ms-transform-style: preserve-3d;

			transition: 0.6s;
			transform-style: preserve-3d;

			position: relative;
		}

		.front, .back {
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			backface-visibility: hidden;

		    -webkit-transition: 0.6s;
		    -webkit-transform-style: preserve-3d;
		    -webkit-transform: rotateY(0deg);

		    -moz-transition: 0.6s;
		    -moz-transform-style: preserve-3d;
		    -moz-transform: rotateY(0deg);

		    -o-transition: 0.6s;
		    -o-transform-style: preserve-3d;
		    -o-transform: rotateY(0deg);

		    -ms-transition: 0.6s;
		    -ms-transform-style: preserve-3d;
		    -ms-transform: rotateY(0deg);

		    transition: 0.6s;
		    transform-style: preserve-3d;
		    transform: rotateY(0deg);

			position: absolute;
			top: 0;
			left: 0;
		}

		.front {
			-webkit-transform: rotateY(0deg);
			-ms-transform: rotateY(0deg);
			z-index: 2;
		}

		.back {
			-webkit-transform: rotateY(-180deg);
		    -moz-transform: rotateY(-180deg);
		    -o-transform: rotateY(-180deg);
		    -ms-transform: rotateY(-180deg);
		    transform: rotateY(-180deg);
		}

		.front .name {

			-webkit-transform: rotate(-20deg);
			-moz-transform: rotate(-20deg);
			-ms-transform: rotate(-20deg);
			transform: rotate(-20deg);
		}

		/* vertical */
		.vertical.flip-container {
			position: relative;
		}

			.vertical .back {
				-webkit-transform: rotateX(180deg);
				-moz-transform: rotateX(180deg);
				-ms-transform: rotateX(180deg);
				transform: rotateX(180deg);
			}

			.vertical.flip-container .flipper {
				-webkit-transform-origin: 100% 213.5px;
				-moz-transform-origin: 100% 213.5px;
				-ms-transform-origin: 100% 213.5px;
				transform-origin: 100% 213.5px;
			}

			/*
			.vertical.flip-container:hover .flipper {
				-webkit-transform: rotateX(-180deg);
				-moz-transform: rotateX(-180deg);
				-ms-transform: rotateX(-180deg);
				transform: rotateX(-180deg);
			}
			*/

			/* START: Accommodating for IE */
			.vertical.flip-container:hover .back, .vertical.flip-container.hover .back {
			    -webkit-transform: rotateX(0deg);
			    -moz-transform: rotateX(0deg);
			    -o-transform: rotateX(0deg);
			    -ms-transform: rotateX(0deg);
			    transform: rotateX(0deg);
			}

			.vertical.flip-container:hover .front, .vertical.flip-container.hover .front {
			    -webkit-transform: rotateX(180deg);
			    -moz-transform: rotateX(180deg);
			    -o-transform: rotateX(180deg);
			    transform: rotateX(180deg);
			}

@media only screen and (min-width: 64.063em) {
		

	.flip-container, .front, .back {
		width: 100%;
		min-height: 620px;
	}

}

@media only screen and (min-width: 20.063em) and (max-width: 64em) {

	.flip-container, .front, .back {
		width: 100%;
		min-height: 560px;
	}

	.profile {
		width: 85%;
		box-shadow: 0 0 1px rgba(0, 0, 0, .8);
		-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
		-moz-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
		margin-top:18px;
	}

	.content {
		padding:3px;
	}

	.credit {
		font-size: .6em;
		font-style: italic;
		text-align: left;
		padding-left:22px;
	}

	h4 {
		font-size: 1.4em;
		line-height: 27px;
	}

	.bcontent {
		padding:10px;
	}

	.bcontent p {
		margin-bottom:.2em;
	}

	hr {
		margin: 5px 0px 5px;
	}


}

@media only screen and (max-width: 20em) {

	.flip-container, .front, .back {
		width: 100%;
		min-height: 450px;
	}

	.profile {
		width: 95%;
		box-shadow: 0 0 1px rgba(0, 0, 0, .8);
		-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
		-moz-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
		margin-top:5px;
	}

	.content {
		padding:0px;
		text-align: center;
		/*margin: 10 auto;*/
	}

	.credit {
		font-size: .6em;
		font-style: italic;
		text-align: left;
		padding-left:6px;
	}

	h4 {
		font-size: 1.4em;
		line-height: 27px;
	}

	.bcontent {
		padding:0px;
	}

	.bcontent p {
		margin-bottom:.2em;
		font-size:.8em;
	}

	hr {
		margin: 5px 0px 5px;
	}

}